<p>
    Des de la part juvenil de la mesquita, tenim molt clar que organitzar i participar en diferents esdeveniments/activitats és essencial per poder teixir relacions interculturals molt beneficioses amb la ciutat de Vic. Fins a dia d'avui, han sigut xerrades juvenils, iftars comunitaris, mostres d'entitats, festes infantils, portes obertes de la mesquita, etc.

    · Iftars comunitaris
    
    
    · Xerrades (Adam, Petrov, Sakina, Ilham/Karima)
    
    
    · Mostra d'Entitats de Vic 2024
    Des de fa més de 20 anys la ciutat de Vic posa en valor la tasca que desenvolupa el teixit associatiu en una gran varietat d'àrees, reconeixent el seu paper fonamental a l'hora d'avançar cap a una societat més participativa i cohesionada.
    
    És una això, el 2024, el Centre Islàmic de Vic, hem participat en aquesta jornada on és una excel·lent oportunitat perquè associacions, fundacions i altres col·lectius sense ànim de lucre puguin donar a conèixer de ben a prop el seu projecte i les seves activitats al conjunt de la ciutadania vigatana. En el nostre cas, és molt important perquè d'aquesta manera, podrem donar a conèixer encara més l'Islam i així tenir una imatge positiva de cara a la societat no musulmana.
    
    · Festa infantil intercultural 2024
    
    · Portes obertes
    Anualment des de fa molts anys, la nostra mesquita participa en la jornada de portes obertes a diferents centres de culte organitzada per l'Àrea de Ciutadania de l'Ajuntament de Vic. L'objectiu d'aquesta és, entre d'altres, acostar a la ciutadania la diversitat religiosa de Vic, així com promoure un espai de trobada i de diàleg entre les comunitats religioses, entorns clau en els que treballar la interculturalitat i la cohesió social. Creiem que és una gran oportunitat per donar a conèixer la mesquita, quines activitats s'hi fan, etc.
    </p>