<footer class="gap-5">

    <div class="social-links">        
        <h6 class="fw-bold">Localització</h6>
        <p>Carrer Sant Pere, nº 53, 08500 Vic (Barcelona)</p>
    </div>

    <div class="social-links">        
        <h6 class="fw-bold">Contacte</h6>
        <p>Correu: centreislamicvic&#64;gmail.com</p>
        <p>Telèfon: XXXXXXXXX</p>
    </div>

    <div class="social-links">        
        <h6 class="fw-bold">Xarxes socials</h6>
        <!-- Instagram -->
        <a href="https://www.instagram.com/centre_islamicvic" aria-label="Instagram" target="_blank" rel="noopener">
            <img src="./../../../../assets/logos/instagram.svg"/>
        </a>
        
        <!-- Tiktok -->
        <a href="https://www.tiktok.com/@centre_islamic_vic" aria-label="Tiktok" target="_blank" rel="noopener">
            <img src="./../../../../assets/logos/tiktok.svg"/>
        </a>
    </div>
</footer>


