<div class="d-block text-center">
    <div class="titol-inici">
        <h2>Salam Alaykom! <br> Benvinguts/es al Centre Islàmic de Vic</h2>
        <img class="my-5" src="./../../../assets/images/masjid-inici.jpg"/>
    </div>
    
    <div>
        <h5>Vine a conèixer-nos!</h5>
        <p>Tothom és benvingut/da a la nostra mesquita. Les portes sempre estan obertes per a qualsevol persona, d’aquesta manera intentem trencar els prejudicis cap a l'Islam i als musulmans</p>
    </div>
    
    <section class="hadith">
        <p class="w-50">El Profeta Muhammad (que la paz y las bendiciones de Allah sean con él) dijo: "Aprovecha cinco cosas antes de otras cinco: tu juventud antes de tu vejez, tu salud antes de tu enfermedad, tu riqueza antes de tu pobreza, tu tiempo libre antes de que estés ocupado y tu vida antes de tu muerte." <br> <br>       
            عَنِ ابْنِ عَبَّاسٍ قَالَ قَالَ رَسُولُ اللَّهِ صَلَّى اللَّهُ عَلَيْهِ وَسَلَّمَ اغْتَنِمْ خَمْسًا قَبْلَ خَمْسٍ شَبَابَكَ قَبْلَ هَرَمِكَ وَصِحَّتَكَ قَبْلَ سَقَمِكَ وَغِنَاكَ قَبْلَ فَقْرِكَ وَفَرَاغَكَ قَبْلَ شُغُلِكَ وَحَيَاتَكَ قَبْلَ مَوْتِكَ
        <br> <br> - Hadiz narrado por Ibn Abbas, registrado por Al Albani -</p>
    </section>    
</div>
