<div>

    <div class="text-center">
        <h2 class="my-5">Sobre la nostra mesquita</h2>
        <p>El Centre Cultural Islàmic de Vic és la primera mesquita fundada a la ciutat de Vic l'any 1991. Actualment, hi ha un bon grup de joves proactius/es i amb moltes ganes d'aportar el seu granet de sorra, tant a la comunitat com amb la societat en què vivim.</p>    
    </div>
   
        
    <h3 class="my-5">Objectius</h3>

    <div>    
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">1. Espais de diàleg</h5>
                <p class="card-text">
                    Crear espais de diàleg, de trobades, de reflexió, de convivència i, sobretot, de dawah (invitació a conèixer l'Islam) per així fomentar la coexistència harmoniosa entre persones de diferents religions                
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">2. Organització d'activitats</h5>
                <p class="card-text">
                    Organitzar activitats per els/les nostres joves, perquè hi puguin participar i expressar-se lliurement sense cap tipus d'etiquetes
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">3. Trencar prejudicis</h5>
                <p class="card-text">Trencar els prejudicis que hi ha a occident envers l'Islam i els musulmans</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
            <h5 class="card-title">4. Paper dels joves</h5>
            <p class="card-text">Mostrar el paper tan important dels joves dins la societat, independentment de la seva religió i cultura</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
            <h5 class="card-title">5. Valors de l'Islam</h5>
            <p class="card-text">Mostrar la cara real de l'Islam i els seus valors, que aconsella que tothom es respecti, que hi hagi tolerància, una bona convivència i tenir afecte cap els altres</p>
            </div>
        </div>
    </div>
    

    <p>   
    Com en totes les mesquites incloent la nostra, la pregària és l'acte d'adoració més important. A part d'això, també s'hi realitzen altres activitats com les següents:
    
    · Trobades de joves
    En el cas dels nois, es fa una trobada cada divendres i diumenge al vespre (després de la pregària del Magrhab). Els divendres tractem temes relacionats amb el Fiqh (coneixement de resolucions pràctiques) i diumenge històries de profetes. També si s'ha d'organitzar alguna activitat o esdeveniment, es posen punts en comú i es debat.
    
    En el cas de les noies, es fa una trobada cada diumenge a la tarda i també es tracten temes relacionats amb el Fiqh.
    
    · Classes d'àrab per a infants
    Des de fa molts anys, donem classes de lectura i escriptura de la llengua àrab a nens i nenes de 4 a 12 anys. Creiem que és important que des de ben petits sàpiguen l'àrab, ja que és la llengua en la qual es va revelar l'Alcorà i la majoria de llibres (hadiths, fatwes, etc.)
    
    · Lectura de l'Alcorà i històries dels profetes 
    Cada vespre es fan xerrades explicant els hadiths i quin objectiu tenen. Són tots els relats de la vida del nostre estimat Profeta Muhammad (Sallallahu Alaihi Wa Sallam).
    </p>
</div>